.key-sequence-setting-prepend-text {
  padding-right: 10px;
}

.key-sequence-setting-append-text {
  padding: 0 10px;
}

.key-sequence-kbd {
  padding: 2px;
  margin: 5px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 3px;
}

.key-sequence-scroll {
  overflow: auto;
}

.key-sequence-pending {
  opacity: 0.5;
}

.key-sequence-kbd-confirm {
  border-color: var(--color-green);
}

.key-sequence-kbd-cancel {
  border-color: var(--color-red);
}
